[Desktop Entry]
Name=Firefox
GenericName=Web Browser
Icon=/home/louis/opt/firefox/browser/icons/mozicon128.png
Type=Application
Categories=Application;Network;WebBrowser;
Exec=firefox
Terminal=false
StartupNotify=false
